h1{
  font-family: 'Athiti', sans-serif;
}
body{
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
}
.card{
  padding:20px;
  width: auto;
  max-width: 320px;
  min-height: 0;
}
.red{
  color:red;
}
