.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.center-page{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-family: Athiti, sans-serif;
  color:#636b6f;
}
.center-page h1{
  font-size:90px;
  font-family: Athiti, sans-serif;
}
.center-page p{
  font-size:30px;
}
footer{
  padding: 10px;
  color: #777;
  background-color: #eee;
}
.footer-container{
  display:flex;
}
.mdl-mini-footer__link-list .li{
  margin-left:7px;
  margin-right:7px;
}
.flex-spacer{
  flex-grow: 1;
}
