<html lang="th">
  <head>
    <title>ผู้ดูแล - ซับ.ไทย</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    <style>
    .container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
   }

    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }
    .red{
      color: red;
    }
    </style>
  </head>
  <body>
    <div id="admin_manage">
      <page-loading v-show="page == 'loading'"></page-loading>
      <div class="mdl-layout mdl-js-layout">
        <page-header></page-header>
        <page-signin v-show="page == 'signin'"></page-signin>
        <page-users v-show="page == 'users'"></page-users>
        <page-search v-show="page == 'search'"></page-search>
      </div>
      <snackbar></snackbar>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.3/vue-resource.min.js"></script>
    <script id="template-header" type="text/x-vue-template">
    <header class="mdl-color--primary mdl-shadow--2dp" >
      <div class="mdl-layout__header-row" style="padding-left:20px;padding-right:20px;">
        <span class="mdl-layout-title" style="color:#fff;font-family: Athiti, sans-serif;">ซับ.ไทย</span>
        <div class="mdl-layout-spacer"></div>
        <div v-show="user.username != ''">
          <button class="mdl-button mdl-js-button mdl-button--icon" style="color:#fff;margin-right:15px;" v-on:click.prevent="search">
            <i class="material-icons">search</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--icon" style="color:#fff;margin-right:15px;" v-on:click.prevent="users">
            <i class="material-icons">supervisor_account</i>
          </button>
          <a class="mdl-button mdl-js-button mdl-button--icon" style="color:#fff;margin-right:15px;" href='/จัดการ'>
            <i class="material-icons">link</i>
          </a>
          <span style="margin-right: 15px;color:#fff">{{user.username}}</span>
          <button class="mdl-button mdl-js-button mdl-button--icon" style="color:#fff;margin-right:15px;" v-on:click.prevent="logout">
            <i class="material-icons">exit_to_app</i>
          </button>
        </div>
      </div>
    </header>
    </script>
    <script id="template-page-loading" type="text/x-vue-template">
      <div style="overflow: hidden;position: absolute;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="width:100px;height:100px;"></div>
      </div>
    </script>
    <script id="template-page-signin" type="text/x-vue-template">
      <main class="mdl-layout__content" style="flex: 1 0 auto;">
        <div style="overflow: hidden;position: absolute;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
          <h1 style="font-family: 'Athiti', sans-serif;margin-top: 0px;">ผู้ดูแลระบบ</h1>
          <div class="card mdl-card mdl-shadow--2dp" style="padding:20px;width: auto;max-width: 320px;min-height: 0;">
            <form action="" method="post" v-on:submit.prevent="onSubmit">
              <div class="mdl-textfield mdl-js-textfield" style="display:block">
                <input class="mdl-textfield__input" type="text" id="username" name="text" v-model="username" autocomplete="off">
                <label class="mdl-textfield__label" for="username">ชื่อผู้ใช้หรืออีเมล</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield" style="display:block">
                <input class="mdl-textfield__input" type="password" id="password" name="password" v-model="password" autocomplete="off">
                <label class="mdl-textfield__label" for="password">รหัสผ่าน</label>
              </div>
              <center>
                <p class="red">{{error_message}}</p>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  เข้าสู่ระบบ
                </button>
              </center>
            </form>
          </div>
        </div>
      </main>
    </script>
    <script id="template-page-users" type="text/x-vue-template">
    <main>
      <div class="container" style="padding-top: 40px;padding-bottom: 40px;">
        <table-users></table-users>
        <div style="position: fixed; bottom: 16px; right: 24px;">
          <dialog id="addUserDialog" class="mdl-dialog">
            <h4 class="mdl-dialog__title" style="font-size:1.8rem;">ผู้ใช้ใหม่</h4>
            <div class="mdl-dialog__content">
              <form v-on:submit.prevent="doAddUser">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="note" v-model="note" autocomplete="off">
                  <label class="mdl-textfield__label" for="note">โน้ต</label>
                </div>
                <p class="red">{{dialog_error_message}}</p>
              </form>
            </div>
            <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button" v-on:click.prevent="doAddUser">สร้าง</button>
              <button type="button" class="mdl-button close" v-on:click.prevent="closeUserModal">ยกเลิก</button>
            </div>
          </dialog>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" v-on:click.prevent="addUserTrigger">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
    </main>
    </script>
    <script id="template-table-users" type="text/x-vue-template">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
      <thead style="background-color: #f5f5f5;">
        <tr>
          <th>ไอดี</th>
          <th class="mdl-data-table__cell--non-numeric">ชื่อผู้ใช้</th>
          <th class="mdl-data-table__cell--non-numeric">โน้ต</th>
          <th class="mdl-data-table__cell--non-numeric">สถานะ</th>
          <th class="mdl-data-table__cell--non-numeric">บัตรเชิญ</th>
          <th>โควต้า</th>
        </tr>
      </thead>
      <tbody>
        <row-user v-for="user in userList" :key="user.id" :user="user" ></row-user>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" style="background-color: #f5f5f5;">แสดงข้อมูลทั้งหมดแล้ว</td>
        </tr>
      </tfoot>
    </table>
    </script>
    <script id="template-row-user" type="text/x-vue-template">
    <tr>
      <td>{{user.id}}</td>
      <td class="mdl-data-table__cell--non-numeric">
        <button class="mdl-button mdl-js-button" v-if="user.username && !waitingForAccountOverride" style="text-transform: none;" v-on:click.prevent="overrideAccount">
          {{user.username}}
        </button>
        <div class="mdl-spinner mdl-js-spinner is-active" v-if="waitingForAccountOverride"></div>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        <dialog v-bind:id="'note_dialog_'+user.id" class="mdl-dialog">
          <h4 class="mdl-dialog__title" style="font-size:1.8rem;text-align:left">แก้ไขโน้ต</h4>
          <div class="mdl-dialog__content">
            <form v-on:submit.prevent="changeUserNote">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input"  v-bind:id="'note_'+user.id" v-model="note" autocomplete="off">
                <label class="mdl-textfield__label" v-bind:for="'note_'+user.id">โน้ต</label>
              </div>
              <p class="red">{{note_error}}</p>
            </form>
          </div>
          <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button" v-on:click.prevent="changeUserNote">บันทึก</button>
            <button type="button" class="mdl-button close" v-on:click.prevent="closeUserNoteModal">ยกเลิก</button>
          </div>
        </dialog>
        <button class="mdl-button mdl-js-button" style="text-transform: none;" v-on:click.prevent="triggerUserNote">
          {{user.note}}
        </button>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        <div v-if="user.type != 'waiting...'">
          <button v-bind:id="'role-change-'+user.id" class="mdl-button mdl-js-button ">
              {{user.type == "admin"?"ผู้ดูแลระบบ":""}}
              {{user.type == "user"?"ผู้ใช้":""}}
              {{user.type == "ban"?"แบน":""}}
              {{user.type == "disable"?"ระงับ":""}}
          </button>
            <dialog v-bind:id="'removeuser_dialog_'+user.id" class="mdl-dialog">
              <h4 class="mdl-dialog__title" style="font-size:1.8rem;text-align:left">ลบผู้ใช้</h4>
              <div class="mdl-dialog__content">
                ต้องการลบ {{user.username?user.username:user.note}} ใช่ไหม?
              </div>
              <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" v-on:click.prevent="dialogRemoveUser">ตกลง</button>
                <button type="button" class="mdl-button close" v-on:click.prevent="closeRemoveUserModal">ยกเลิก</button>
              </div>
            </dialog>
            <dialog v-bind:id="'ban_note_dialog_'+user.id" class="mdl-dialog">
              <h4 class="mdl-dialog__title" style="font-size:1.8rem;text-align:left">ระงับการเข้าระบบ</h4>
              <div class="mdl-dialog__content">
                <form v-on:submit.prevent="changeUserQuota">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text"  v-bind:id="'ban_note_'+user.id" v-model="ban_note" autocomplete="off">
                    <label class="mdl-textfield__label" v-bind:for="'ban_note_'+user.id">คำอธิบายการระงับเข้าระบบ</label>
                  </div>
                  <p class="red">{{ban_note_error}}</p>
                </form>
              </div>
              <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" v-on:click.prevent="doUpdateBanNote">ตั้งค่า</button>
                <button type="button" class="mdl-button close" v-on:click.prevent="closeBanNoteModal">ยกเลิก</button>
              </div>
            </dialog>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" v-bind:for="'role-change-'+user.id">
            <li class="mdl-menu__item" v-on:click.prevent="changeUserType('user')">ผู้ใช้</li>
            <li class="mdl-menu__item" v-on:click.prevent="triggerBanNoteModal('ban')">แบน</li>
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" v-on:click.prevent="triggerBanNoteModal('disable')">ระงับ</li>
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" v-on:click.prevent="changeUserType('admin')">ผู้ดูแลระบบ</li>
            <li class="mdl-menu__item" v-on:click.prevent="triggerRemoveUserModal">ลบ</li>
          </ul>
        </div>
        <div class="mdl-spinner mdl-js-spinner is-active" v-if="user.type == 'waiting...'"></div>
      </td>
      <td class="mdl-data-table__cell--non-numeric">
        <div class="mdl-spinner mdl-js-spinner is-active" v-if="creatingInviteToken"></div>
        <button class="mdl-button mdl-js-button" v-if="user.invite_token == '' && !creatingInviteToken" v-on:click.prevent="createInvite">
          -
        </button>
        <div v-if="user.invite_token != '' && user.invite_token != 'generating...' && !creatingInviteToken">
        <button class="mdl-button mdl-js-button"  v-on:click.prevent="copyInvite">
          {{user.invite_token}}
        </button>
        <button v-if="!removeInviteConfirm" class="mdl-button mdl-js-button mdl-button--icon" v-on:click.prevent="confirmRemoveInvite" style="margin-top: -2px;color: #777;">
          <i class="icon material-icons">delete</i>
        </button>
        <button v-if="removeInviteConfirm" class="mdl-button mdl-js-button mdl-button--icon" v-on:click.prevent="cancleRemoveInvite" style="margin-top: -2px;color: #777;">
          <i class="icon material-icons">close</i>
        </button>
        <button v-if="removeInviteConfirm" class="mdl-button mdl-js-button mdl-button--icon" v-on:click.prevent="removeInvite" style="margin-top: -2px;color: #777;">
          <i class="icon material-icons">done</i>
        </button>
        </div>
      </td>
      <td>
        <dialog v-bind:id="'shorten_quota_dialog_'+user.id" class="mdl-dialog">
          <h4 class="mdl-dialog__title" style="font-size:1.8rem;text-align:left">ปริมาณย่อลิ้งค์</h4>
          <div class="mdl-dialog__content">
            <form v-on:submit.prevent="changeUserQuota">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="number"  v-bind:id="'shorten_quota_'+user.id" v-model="shorten_quota" autocomplete="off">
                <label class="mdl-textfield__label" v-bind:for="'shorten_quota_'+user.id">โควต้า</label>
              </div>
              <p class="red">{{shorten_quota_error}}</p>
            </form>
          </div>
          <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button" v-on:click.prevent="changeUserQuota">ตั้งค่า</button>
            <button type="button" class="mdl-button close" v-on:click.prevent="closeUserQuotaModal">ยกเลิก</button>
          </div>
        </dialog>
        <button class="mdl-button mdl-js-button " v-if="user.shorten_quota != ''" v-on:click.prevent="triggerUserQuota">
          {{user.shorten_quota}}
        </button>
      </td>
    </tr>
    </script>
    <script id="template-page-search" type="text/x-vue-template">
      <div class="container" style="padding-top:20px;padding-bottom:20px">
        <div class="mdl-card mdl-shadow--2dp" style="width:100%;height:auto;min-height:0px;padding-left:20px;padding-right:20px;">
          <form action="#" style="margin: 0px;display:flex" v-on:submit.prevent="search">
            <div style="flex-shrink: 0;flex-grow: 1;">
              <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
                <input class="mdl-textfield__input" type="text" id="searchQuery" v-model="query">
                <label class="mdl-textfield__label" for="searchQuery">ค้นหา</label>
              </div>
            </div>
            <div style="padding-top: 15px;padding-bottom: 15px;margin-left: 15px;">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"  v-on:click.prevent="search">
                ค้นหา
              </button>
            </div>
          </form>
        </div>
        <div style="margin-top:20px;">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
            <thead style="background-color: #f5f5f5;">
              <tr>
                <th>พาธไอดี</th>
                <th class="mdl-data-table__cell--non-numeric">ผู้ใช้</th>
                <th class="mdl-data-table__cell--non-numeric">โน้ต</th>
                <th class="mdl-data-table__cell--non-numeric">ลิ้งค์เต็ม</th>
                <th class="mdl-data-table__cell--non-numeric">ลิ้งค์ย่อ</th>
                <th class="mdl-data-table__cell--non-numeric">เวลา</th>
              </tr>
            </thead>
            <tbody>
              <tr v-show='isLoading'>
                <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
              </tr>
              <tr v-show="result.length == 0">
                <td colspan="6">
                  <center>ไม่มีผลลัพธ์</center>
                </td>
              </tr>
              <tr v-for="path in result">
                <td>{{path.id}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{path.username}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{path.note}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{path.full}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{path.short}}</td>
                <td></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6" style="background-color: #f5f5f5;">
                  แสดงผลการค้นหา 20 อันดับแรก
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </script>
    </script>
    <script id="template-snackbar" type="text/x-vue-template">
      <div id="snackbarContainer" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
    </script>
    <script>
    //Intial Vue Environment
    window.VueNotify = new Vue();
    Vue.http.options.emulateJSON = true;
    Vue.http.options.root = '/api/v1/';
    Vue.http.headers.common['Cache-Control'] = 'no-cache';
    //Util copyToClipBoard
    window.copyTextToClipboard = function(text,parent) {
      var textArea = window.document.createElement("textarea");
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.width = '2em';
      textArea.style.height = '2em';
      textArea.style.padding = 0;
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      textArea.style.background = 'transparent';
      textArea.value = text;
      if(parent){
        window.document.querySelector('#shorten-dialog').appendChild(textArea);
      }else{
        window.document.body.appendChild(textArea);
      }
      textArea.select();
      var successful = false;
      try {
        successful = document.execCommand('copy');
      } catch (err) {
        successful = false;
      }
      if(parent){
        window.document.querySelector('#shorten-dialog').removeChild(textArea);
      }else{
        window.document.body.removeChild(textArea);
      }
      return successful;
    }
    Vue.component('page-header', {
      template: '#template-header',
      data: function(){
        return {
          user:{
            username: "",
            email:"",
            type:"",
            shorten_quota:0
          }
        }
      },
      mounted:function(){
        var self = this;
        window.VueNotify.$on('onAuthenticate',function(user){
          if(user){
            self.user = user;
          }else{
            self.user = {
              username: "",
              email:"",
              type:"",
              shorten_quota:0
            }
          }
        });
      },
      methods: {
        logout: function(){
          this.$http.delete('auth').then(function(){
            window.VueNotify.$emit('onAuthenticate',null);
          },function(){
            window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
          });
        },
        search: function(){
          window.VueNotify.$emit('switchPage','search');
        },
        users: function(){
          window.VueNotify.$emit('switchPage','users');
        }
      }
    });
    Vue.component('page-loading', {
      template: '#template-page-loading',
    });
    Vue.component('snackbar', {
      template: '#template-snackbar',
      mounted: function(){
        window.VueNotify.$on('snackbar',function(str){
          var html = str;
          var div = document.createElement("div");
          div.innerHTML = html;
          var text = div.textContent || div.innerText || "";
          document.querySelector('#snackbarContainer')
            .MaterialSnackbar.showSnackbar({message:text});
        });
      }
    });
    Vue.component('table-users', {
      template: '#template-table-users',
      data: function(){
        return {
          userList: [],
          isLoading: true,
        }
      },
      mounted: function(){
        var self = this;
        window.VueNotify.$on('onAuthenticate',function(user){
          isLoading = true;
          if(user){
            this.$http.get('user/list?page=1&limit=1000').then(function(response){
              self.userList = response.body.user;
              isLoading = false;
              self.$nextTick(function () {
                window.componentHandler.upgradeDom();
              });
            },function(error){
              try{
                window.VueNotify.$emit('snackbar',error.body.error.message);
              }catch(e){
                console.error(error.body);
                window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
              }
              isLoading = false;
            });
          }
          window.VueNotify.$on("doAddUser",function(user){
            user.invite_token = 'generating...';
            user.tempId = Math.floor(Math.random()*1000000);
            user.id = '';
            user.shorten_quota = '';
            user.type = "waiting...";
            self.userList.unshift(user);
            self.$nextTick(function () {
              window.componentHandler.upgradeDom();
            });
          });
          window.VueNotify.$on('removeByTempId',function(tempId){
            var pos = self.userList.map(function(e) { return e.tempId; }).indexOf(tempId);
            if(pos != -1){
              self.userList.splice(pos,1);
            }
          });
          window.VueNotify.$on('removeById',function(id){
            var pos = self.userList.map(function(e) { return e.id; }).indexOf(id);
            if(pos != -1){
              self.userList.splice(pos,1);
            }
          });
        });
      }
    });
    Vue.component('row-user', {
      template: '#template-row-user',
      data: function(){
        return {
          creatingInviteToken: false,
          shorten_quota: 33,
          shorten_quota_error: "",
          waitingForAccountOverride : false,
          note: "",
          note_error: "",
          removeInviteConfirm: false,
          ban_note: "",
          ban_note_error: "",
          ban_note_type: ""
        }
      },
      props: ['user'],
      mounted: function(){
        var self = this;
        if(self.user.tempId){
          self.$http.post('user/invite',{note:self.user.note}).then(function(response){
            delete self.user.tempId;
            self.user.type='user';
            self.user.shorten_quota = 33;
            self.user.invite_token = response.body.invite_token;
            self.user.id = response.body.id;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(error.body);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
            window.VueNotify.$emit('removeByTempId',self.user.tempId);
          });
        }else{
          self.note = self.user.note;
          self.shorten_quota = self.user.shorten_quota;
          self.$nextTick(function () {
            window.componentHandler.upgradeDom();
          });
        }
      },
      methods: {
        copyInvite: function(){
          var copied = window.copyTextToClipboard("https://ซับ.ไทย/สมัคร?บัตรเชิญ="+this.user.invite_token);
          if(copied){
            window.VueNotify.$emit('snackbar',"คัดลอกบัตรเชิญของ "+((this.user.username)?this.user.username:this.user.note)+" แล้ว");
          }else{
            window.VueNotify.$emit('snackbar','เบราว์เซอร์นี้ไม่สามารถคัดลอกได้');
          }
        },
        createInvite: function(){
          var self = this;
          self.creatingInviteToken = true;
          self.$nextTick(function () {
            window.componentHandler.upgradeDom();
          })
          self.$http.post('user/'+self.user.id+'/invite').then(function(response){
            self.user.invite_token = response.body.invite_token;
            self.creatingInviteToken = false;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(error.body);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
        },
        confirmRemoveInvite: function(){
          this.removeInviteConfirm = true;
        },
        cancleRemoveInvite: function(){
          this.removeInviteConfirm = false;
        },
        removeInvite: function(){
          this.$http.delete('user/'+this.user.id+'/invite').then(function(response){
              //Do nothing;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(error.body);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
          if(this.user.username === undefined || this.user.username==""){
            window.VueNotify.$emit('removeById',this.user.id);
          }else{
            this.user.invite_token = "";
          }
        },
        overrideAccount: function(){
            var self = this;
            self.waitingForAccountOverride = true;
            self.$nextTick(function () {
              window.componentHandler.upgradeDom();
            });
            self.$http.post('user/override',{uid:self.user.id}).then(function(){
              self.waitingForAccountOverride = false;
              self.$nextTick(function () {
                window.componentHandler.upgradeDom();
              });
              window.location.replace('/จัดการ');
            },function(error){
              try{
                window.VueNotify.$emit('snackbar',error.body.error.message);
              }catch(e){
                console.error(error.bodyText);
                window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
              }
              self.waitingForAccountOverride = false;
              self.$nextTick(function () {
                window.componentHandler.upgradeDom();
              });
            });
        },
        changeUserType: function(type){
          this.user.type = type;
          this.$http.post('user/'+this.user.id,{'type':type}).then(function(response){
              //Do nothing;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
        },
        changeUserQuota: function(){
          var self = this;
          if(self.shorten_quota != parseInt(self.shorten_quota)){
              return self.shorten_quota_error = "กรุณากรอกจำนวนตกเลขและห้ามเว้นว่าง";
          }
          self.shorten_quota_error = "";
          self.user.shorten_quota = self.shorten_quota;
          document.querySelector('#shorten_quota_dialog_'+this.user.id).close();
          self.$http.post('user/'+this.user.id,{'quota':self.shorten_quota}).then(function(response){
            //Do noting
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(e);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
        },
        closeUserQuotaModal: function(){
          document.querySelector('#shorten_quota_dialog_'+this.user.id).close();
        },
        triggerUserQuota: function(){
          document.querySelector('#shorten_quota_dialog_'+this.user.id).showModal();
        },
        triggerBanNoteModal: function(type){
          this.ban_note_type = type;
          document.querySelector('#ban_note_dialog_'+this.user.id).showModal();
        },
        closeBanNoteModal: function(){
          document.querySelector('#ban_note_dialog_'+this.user.id).close();
        },
        doUpdateBanNote: function(){
          if(this.ban_note == ''){
            return this.ban_note_error = 'ไม่สามารถเว้นว่างได้';
          }
          this.ban_note_error = '';
          this.$http.post('user/'+this.user.id,{'ban_note':this.ban_note}).then(function(response){
            //Do noting
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(e);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
          document.querySelector('#ban_note_dialog_'+this.user.id).close();
          this.changeUserType(this.ban_note_type);
        },
        changeUserNote: function(){
          var self = this;
          if(self.note == "" ){
              self.note_error = "ไม่สามารถเว้นว่างโน้ตไว้ได้";
              return ;
          }
          self.note_error = "";
          self.user.note = self.note;
          document.querySelector('#note_dialog_'+this.user.id).close();
          self.$http.post('user/'+this.user.id,{'note':self.note}).then(function(response){
            //Do noting
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(e);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          })
        },
        closeUserNoteModal: function(){
          document.querySelector('#note_dialog_'+this.user.id).close();
        },
        triggerUserNote: function(){
          document.querySelector('#note_dialog_'+this.user.id).showModal();
        },
        dialogRemoveUser: function(){
          document.querySelector('#removeuser_dialog_'+this.user.id).close();
          this.removeUser();
        },
        triggerRemoveUserModal: function(){
          document.querySelector('#removeuser_dialog_'+this.user.id).showModal();
        },
        closeRemoveUserModal: function(){
          document.querySelector('#removeuser_dialog_'+this.user.id).close();
        },
        removeUser: function(){
          window.VueNotify.$emit('removeById',this.user.id);
          this.$http.delete('user/'+this.user.id).then(function(response){
              //Do nothing;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(error.body);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
          });
        },
      }
    });
    Vue.component('page-users', {
      template: '#template-page-users',
      data: function(){
        return {
          "note": "",
          "dialog_error_message": ""
        }
      },
      methods:{
        addUserTrigger: function(){
          document.querySelector('#addUserDialog').showModal();
        },
        closeUserModal: function(){
          document.querySelector('#addUserDialog').close();
        },
        doAddUser: function()
        {
          if(this.note == ""){
            return this.dialog_error_message = "กรุณาใส่โน้ตเพื่อช่วยจำ";
          }
          this.dialog_error_message = "";
          window.VueNotify.$emit('doAddUser',{note:this.note});
          this.username = "";
          this.email = "";
          document.querySelector('#addUserDialog').close();
        }
      }
    });
    Vue.component('page-search',{
      template: '#template-page-search',
      data: function(){
        return {
          query: "",
          result: [],
          isLoading: false
        }
      },
      methods: {
        search: function(){
          var self = this;
          self.$http.get('path/search?q='+self.query).then(function(response){
            self.result = response.body.path;
            for(var i = 0;i<self.result.length;i++){
              self.result[i].date = new Date(self.result[i].updated_time);
            }
            self.isLoading = false;
          },function(error){
            try{
              window.VueNotify.$emit('snackbar',error.body.error.message);
            }catch(e){
              console.error(error.body);
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
            }
            self.isLoading = false;
          });
        },
        back: function(){
          window.VueNotify.$emit('switchPage','user');
        }
      }
    });
    Vue.component('page-signin', {
      template: '#template-page-signin',
      data: function(){
        return {
          submitable: true,
          username: "",
          password: "",
          error_message: "",
        }
      },
      methods: {
        onSubmit: function(){
          var self = this;
          submitable = false;
          this.$http.post('auth',{
            username:self.username,
            password:self.password
          }).then(function(response) {
            window.VueNotify.$emit('getUser',null);
          }, function(error) {
            if(error.body.error.message){
              self.error_message = error.body.error.message
            }else{
                self.error_message = "พบข้อผิดพลาด "+error.bodyText;
                window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
                console.error(error.body);
            }
            self.submitable = true;
          });
        }
      }
    });
    window.admin_manage = new Vue({
      el: '#admin_manage',
      data: {
        page: "loading",
      },
      mounted: function(){
        var self = this;
        window.VueNotify.$on('getUser',function(){
          self.$http.get('user?real=true').then(function(response){
            if(response.body.type == 'admin'){
              window.VueNotify.$emit('onAuthenticate',response.body);
            }else{
              window.VueNotify.$emit('onAuthenticate',null);
              window.VueNotify.$emit('snackbar','เฉพาะผู้ดูแลระบบเท่านั้น')
            }
          },function(error){
            window.VueNotify.$emit('onAuthenticate',null);
          });
        });
        window.VueNotify.$on('onAuthenticate',function(user){
          if(user){
            self.page = "users";
          }else{
            self.page = "signin";
          }
        });
        window.VueNotify.$on('switchPage',function(page){
          self.page = page;
        });
        window.VueNotify.$emit('getUser',null);
      }
    });
    </script>
  </body>
</html>
