<html lang="th">
  <head>
    <title>จัดการลิงก์ - ซับ.ไทย</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-indigo.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    <style>
    .container{

    }
    .footer{
          padding-top: 14px;
          padding-bottom: 14px;
          color: #777;
          background-color: #eee;
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .short-header{
          margin: 0px;
          color: #fff;
          font-size: 30px;
          font-weight: lighter;
          cursor: default;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .long-text-input{
          width: calc(100% - 32px);
          max-width: 550px;
          height: 36px;
          margin-right: 20px;
          padding: 0 16px;
          font-family: inherit;
          font-size: 14px;
          line-height: 36px;
          vertical-align: middle;
          border: none;
          border-radius: 2px;
          outline: none;
          -webkit-transition: background-color .2s cubic-bezier(0.4,0,0.2,1),color .2s cubic-bezier(0.4,0,0.2,1);
          transition: background-color .2s cubic-bezier(0.4,0,0.2,1),color .2s cubic-bezier(0.4,0,0.2,1);
        }
        .tagline{
          color: #fff;
          size: 14px;
          padding-top:5px;
        }
        #on-modal-copy:focus:not(:active) {
          background-color: rgba(0,0,0,0);
        }
        #on-modal-copy{
          margin-top: -2px;
        }
        .copy-button{
          margin-top: -2px;
          color: #777;
        }
        .container {
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
        }
        @media (min-width: 768px) {
          .container {
            width: 750px;
          }
        }
        @media (min-width: 992px) {
          .container {
            width: 970px;
          }
        }
        @media (min-width: 1200px) {
          .container {
            width: 1170px;
          }
        }
        .red{
          color: red;
        }
    </style>
  </head>
  <body>
    <div id="user_manage">
      <page-loading v-show="page == 'loading'"></page-loading>
      <page-signin v-show="page == 'signin'"></page-signin>
      <page-manage v-show="page == 'manage'"></page-manage>
      <snackbar></snackbar>
    </div>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-resource"></script>
    <script id="template-header" type="text/x-vue-template">
      <header class="" style="box-shadow:none;">
        <div class="mdl-layout__header-row" style="padding-left:20px;padding-right:20px;background-color:#fff">
          <span class="mdl-layout-title" style="color:#333">ซับ.ไทย</span>
          <div class="mdl-layout-spacer"></div>
          <div>
            //อีเมล ออกจากระบบ
          </div>
        </div>
      </header>
    </script>
    <script id="template-footer" type="text/x-vue-template">
      <footer style="padding-top: 10px;padding-bottom: 10px;color: #777;background-color: #eee;user-select: none;">
        <div class="container">
          <ul class="mdl-mini-footer__link-list">
            <li style="margin-right:15px;">
              <a href="https://ซับ.ไทย">ซับ.ไทย</a>
            </li>
            <li style="margin-right:15px;">
              <a href="https://www.tafasu.com">TAFASU</a>
            </li>
          </ul>
        </div>
      </footer>
    </script>
    <script id="template-banner-create" type="text/x-vue-template">
      <div style="padding: 40px 0px 40px 0px;" class="mdl-color--primary mdl-shadow--2dp">
        <div class="container">
          <div>
            <h2 class="short-header">ย่อลิงก์ให้ใช้ง่าย</h2>
          </div>
          <div>
            <input type="text" class="long-text-input" placeholder="กรอก URL เต็มที่นี่" style="margin-top:10px;" v-model="fullURL" :disabled="shortening"></input>
            <button :disabled="shortening" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="background-color: white;margin-top:10px;" v-on:click="addShortLink(fullURL)">
                ย่อลิงก์
            </button>
          </div>
          <div class="tagline">
            ขณะนี้ใช้ได้เพียง Google Drive, Koofr, Mega และ TAFASU เท่านั้น
          </div>
        </div>
      </div>
    </script>
    <script id="template-table-path" type="text/x-vue-template">
      <div class="container" style="padding-top: 40px;padding-bottom: 40px;">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%;">
          <thead style="background-color: #f5f5f5;">
            <tr>
              <th class="mdl-data-table__cell--non-numeric">ลิงก์เดิม</th>
              <th class="mdl-data-table__cell--non-numeric">สร้างเมื่อ</th>
              <th class="mdl-data-table__cell--non-numeric">ลิงก์สั้น</th>
            </tr>
          </thead>
          <tbody>
            <tr v-show="isLoading">
              <td colspan="3" class="mdl-data-table__cell--non-numeric">
                <center>
                  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                </center>
              </td>
            </tr>
            <tr v-show="!isLoading && pathList.length == 0">
              <td colspan="3" class="mdl-data-table__cell--non-numeric">
                <center>
                  ไม่มีรายการลิงก์ที่จะแสดง
                </center>
              </td>
            </tr>
            <tr v-for="(path, index) in pathList">
              <td class="mdl-data-table__cell--non-numeric">
                {{ path.full }}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                {{path.date.getDate()}}/{{path.date.getMonth()+1}}/{{path.date.getFullYear()}} {{path.date.getHours()<10?'0'+path.date.getHours():path.date.getHours()}}:{{path.date.getMinutes()<10?'0'+path.date.getMinutes():path.date.getMinutes()}}
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                ซับ.ไทย/{{path.short}}
                <button v-bind:id="'tooltip-copy-'+index" class="copy-button mdl-button mdl-js-button mdl-button--icon"><i class="icon material-icons"  v-on:click="copyToClipBoard(path.short)">content_copy</i></button>
                <div class="mdl-tooltip" v-bind:data-mdl-for="'tooltip-copy-'+index" >
                  คัดลอกลิงก์ย่อ
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot style="background-color: #f5f5f5;">
            <tr>
              <td colspan="3" style="padding-top:15px;padding-bottom:15px;">
                <div style="display: inline-block;">{{(page-1)*10 +1}} - {{page*10>totalItem?totalItem:page*10}} จาก {{totalItem}}</div>
                <div style="display: inline-block;">
                  <button class="mdl-button mdl-js-button mdl-button--icon" :disabled="page <= 1 || isLoading"  v-on:click="prev"><i class="material-icons">chevron_left</i></button>
                  <button class="mdl-button mdl-js-button mdl-button--icon" :disabled="totalItem <= page*10 || isLoading" v-on:click="next"><i class="material-icons" >chevron_right</i></button>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </script>
    <script id="template-page-manage" type="text/x-vue-template">
      <div class="mdl-layout mdl-js-layout">
        <page-header></page-header>
        <main class="mdl-layout__content" style="flex: 1 0 auto;">
          <banner-create></banner-create>
          <table-path></table-path>
        </main>
        <page-footer></page-footer>
      </div>
    </script>
    <script id="template-page-loading" type="text/x-vue-template">
      <div style="overflow: hidden;position: absolute;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="width:100px;height:100px;"></div>
      </div>
    </script>
    <script id="template-page-signin" type="text/x-vue-template">
    <div class="mdl-layout mdl-js-layout">
      <page-header></page-header>
      <main class="mdl-layout__content" style="flex: 1 0 auto;">
        <div style="overflow: hidden;position: absolute;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
          <h1 style="font-family: 'Athiti', sans-serif;margin-top: 0px;">ซับ.ไทย</h1>
          <div class="card mdl-card mdl-shadow--2dp" style="padding:20px;width: auto;max-width: 320px;min-height: 0;">
            <form action="" method="post" v-on:submit.prevent="onSubmit">
              <div class="mdl-textfield mdl-js-textfield" style="display:block">
                <input class="mdl-textfield__input" type="text" id="username" name="text" v-model="username">
                <label class="mdl-textfield__label" for="username">ชื่อผู้ใช้หรืออีเมล</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield" style="display:block">
                <input class="mdl-textfield__input" type="password" id="password" name="password" v-model="password" >
                <label class="mdl-textfield__label" for="password">รหัสผ่าน</label>
              </div>
              <center>
                <p class="red">{{error_message}}</p>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  เข้าสู่ระบบ
                </button>
              </center>
            </form>
          </div>
        </div>
      </main>
      <page-footer></page-footer>
    </div>
    </script>
    <script id="template-snackbar" type="text/x-vue-template">
      <div id="snackbarContainer" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
    </script>
    <script>
      //Intial Vue Environment
      window.VueNotify = new Vue();
      Vue.http.options.emulateJSON = true;
      Vue.http.options.root = '/api/v1/';
      Vue.http.headers.common['Cache-Control'] = 'no-cache';
      //Util copyToClipBoard
      window.copyTextToClipboard = function(text,parent) {
        var textArea = window.document.createElement("textarea");
        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = 0;
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        textArea.value = text;
        if(parent){
          window.document.querySelector('#shorten-dialog').appendChild(textArea);
        }else{
          window.document.body.appendChild(textArea);
        }
        textArea.select();
        var successful = false;
        try {
          successful = document.execCommand('copy');
        } catch (err) {
          successful = false;
        }
        if(parent){
          window.document.querySelector('#shorten-dialog').removeChild(textArea);
        }else{
          window.document.body.removeChild(textArea);
        }
        return successful;
      }

      Vue.component('page-header', {
        template: '#template-header',
        data: function(){
          return {
            user:{
              username: "",
              email:"",
              type:"",
              shorten_quota:0
            }
          }
        },
        mounted:function(){
          var self = this;
          window.VueNotify.$on('onAuthenticate',function(user){
            if(user){
              self.user = user;
            }else{
              self.user = {
                username: "",
                email:"",
                type:"",
                shorten_quota:0
              }
            }
          });
        },
        methods: {

        }
      });
      Vue.component('page-footer', {
        template: '#template-footer',
      });
      Vue.component('banner-create', {
        template: '#template-banner-create',
        data: function(){
          return {
            fullURL: "",
            shortening: false,
          }
        },methods: {
          addShortLink: function(url){
            var self = this;
            url = url.trim();
            if(url.length == 0){
              return ;
            }
            this.shortening = true;
            this.$http.post('path',{full:url}).then(
              function(response){
                var short = response.body.path;
                self.shortening = false;
                //add to list (to implement)
              },
              function(error){
                window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
                console.log(error.body);
                self.shortening = false;
              }
            );
          }
        }
      });
      Vue.component('table-path', {
        template: '#template-table-path',
        data: function(){
          return {
            page: 1,
            totalItem: 0,
            pathList: [],
            isLoading: true,
          }
        },
        methods:{
          fetch: function(page){
            var self = this;
            page = page?page:1;
            self.isLoading = true;
            self.$http.get('path?page='+page).then(function(response){
              self.pathList = response.body.path;
              for(var i = 0;i<self.pathList.length;i++){
                self.pathList[i].date = new Date(self.pathList[i].updated_time);
              }
              self.isLoading = false;
              self.$nextTick(function () {
                window.componentHandler.upgradeDom();
              })
            },function(error){
              window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
              console.log(error.body);
              self.isLoading = false;
            });
          },
          copyToClipBoard: function(shortLink){
            var copied = window.copyTextToClipboard("https://ซับ.ไทย/"+shortLink);
            if(copied){
              window.VueNotify.$emit('snackbar','คัดลอกลิ้งค์ ซับ.ไทย/'+shortLink);
            }else{
              window.VueNotify.$emit('snackbar','เบราว์เซอร์นี้ไม่สามารถคัดลอกได้');
            }
          },
          next: function(){
            this.fetch(++this.page);
          },
          prev: function(){
            this.fetch(--this.page);
          }
        },
        mounted: function(){
          var self = this;
          self.isLoading = true;
          window.VueNotify.$on('onAuthenticate',function(user){
            if(user){
              self.fetch(1);
              self.$http.get('path/count').then(function(response){
                self.totalItem = response.body.count;
              },function(error){
                window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
                console.log(error.body);
                self.isLoading = false;
              });
            }else{
              self.pathList = [];
            }
          });
        }
      });
      Vue.component('page-manage', {
        template: '#template-page-manage',
      });
      Vue.component('page-loading', {
        template: '#template-page-loading',
      });
      Vue.component('snackbar', {
        template: '#template-snackbar',
        mounted: function(){
          window.VueNotify.$on('snackbar',function(str){
            document.querySelector('#snackbarContainer')
              .MaterialSnackbar.showSnackbar({message:str});
          });
        }
      });
      Vue.component('page-signin', {
        template: '#template-page-signin',
        data: function(){
          return {
            submitable: true,
            username: "",
            password: "",
            error_message: "",
          }
        },
        methods: {
          onSubmit: function(){
            var self = this;
            submitable = false;
            this.$http.post('auth',{
              username:self.username,
              password:self.password
            }).then(function(response) {
              window.VueNotify.$emit('getUser',null);
            }, function(error) {
              if(error.body.error.message){
                self.error_message = error.body.error.message
              }else{
                  self.error_message = "พบข้อผิดพลาด "+error.bodyText;
                  window.VueNotify.$emit('snackbar',"พบข้อผิดพลาด "+error.bodyText);
                  console.error(error.body);
              }
              self.submitable = true;
            });
          }
        }
      });
      window.user_manage = new Vue({
        el: '#user_manage',
        data: {
          page: "loading",
        },
        mounted: function(){
          var self = this;
          window.VueNotify.$on('getUser',function(){
            self.$http.get('user').then(function(response){
              window.VueNotify.$emit('onAuthenticate',response.body);
            },function(error){
              window.VueNotify.$emit('onAuthenticate',null);
            });
          });
          window.VueNotify.$on('onAuthenticate',function(user){
            if(user){
              self.page = "manage";
            }else{
              self.page = "signin";
            }
          });
          window.VueNotify.$emit('getUser',null);
        }
      });
    </script>
  </body>
</html>
